
[*]
charset = utf-8-bom
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:error
csharp_style_var_elsewhere = true:error
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
dotnet_diagnostic.bc42024.severity = error
dotnet_diagnostic.cs0108.severity = error
dotnet_diagnostic.cs0109.severity = error
dotnet_diagnostic.cs0114.severity = error
dotnet_diagnostic.cs0164.severity = error
dotnet_diagnostic.cs0168.severity = error
dotnet_diagnostic.cs0169.severity = error
dotnet_diagnostic.cs0219.severity = error
dotnet_diagnostic.cs0414.severity = error
dotnet_diagnostic.cs1998.severity = error
dotnet_diagnostic.cs4014.severity = error
dotnet_diagnostic.cs8321.severity = error
dotnet_diagnostic.cs8632.severity = error
dotnet_diagnostic.cs8669.severity = error
dotnet_diagnostic.cs8892.severity = error
dotnet_diagnostic.cs8907.severity = error
dotnet_naming_rule.method_rule.import_to_resharper = as_predefined
dotnet_naming_rule.method_rule.resharper_style = AaBb, AaBb_AaBb
dotnet_naming_rule.method_rule.severity = warning
dotnet_naming_rule.method_rule.style = upper_camel_case_style
dotnet_naming_rule.method_rule.symbols = method_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_rule.unity_serialized_field_rule_1.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule_1.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule_1.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule_1.severity = warning
dotnet_naming_rule.unity_serialized_field_rule_1.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule_1.symbols = unity_serialized_field_symbols_1
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.method_symbols.applicable_accessibilities = *
dotnet_naming_symbols.method_symbols.applicable_kinds = method
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.unity_serialized_field_symbols_1.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols_1.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols_1.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols_1.resharper_required_modifiers = instance
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiple_declaration = true
resharper_arguments_anonymous_function = named
resharper_arguments_literal = named
resharper_arguments_named = named
resharper_arguments_skip_single = true
resharper_arguments_string_literal = named
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_single_line_type = 0
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_while = required
resharper_can_use_global_alias = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_type = 0
resharper_csharp_int_align_comments = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_max_line_length = 413
resharper_csharp_stick_comment = false
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_enforce_line_ending_style = true
resharper_force_attribute_style = join
resharper_indent_preprocessor_if = usual_indent
resharper_indent_preprocessor_other = usual_indent
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_enum_arrangement = true
resharper_keep_existing_switch_expression_arrangement = false
resharper_local_function_body = expression_body
resharper_max_array_initializer_elements_on_line = 2
resharper_max_attribute_length_for_same_line = 10000
resharper_max_enum_members_on_line = 4
resharper_nested_ternary_style = compact
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_type_attribute_on_same_line = if_owner_is_single_line
resharper_prefer_explicit_discard_declaration = true
resharper_prefer_separate_deconstructed_variables_declaration = true
resharper_show_autodetect_configure_formatting_tip = false
resharper_use_indent_from_vs = false
resharper_wrap_array_initializer_style = chop_if_long

# ReSharper inspection severities
resharper_arguments_style_anonymous_function_highlighting = none
resharper_arguments_style_named_expression_highlighting = none
resharper_arguments_style_other_highlighting = none
resharper_arrange_accessor_owner_body_highlighting = none
resharper_arrange_default_value_when_type_evident_highlighting = error
resharper_arrange_default_value_when_type_not_evident_highlighting = error
resharper_arrange_object_creation_when_type_evident_highlighting = error
resharper_arrange_object_creation_when_type_not_evident_highlighting = error
resharper_arrange_redundant_parentheses_highlighting = error
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_trailing_comma_in_multiline_lists_highlighting = error
resharper_arrange_trailing_comma_in_singleline_lists_highlighting = error
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting = none
resharper_async_iterator_invocation_without_await_foreach_highlighting = error
resharper_async_void_method_highlighting = error
resharper_bad_attribute_brackets_spaces_highlighting = error
resharper_bad_braces_spaces_highlighting = error
resharper_bad_child_statement_indent_highlighting = error
resharper_bad_colon_spaces_highlighting = error
resharper_bad_comma_spaces_highlighting = error
resharper_bad_control_braces_indent_highlighting = error
resharper_bad_control_braces_line_breaks_highlighting = error
resharper_bad_declaration_braces_indent_highlighting = error
resharper_bad_declaration_braces_line_breaks_highlighting = error
resharper_bad_empty_braces_line_breaks_highlighting = error
resharper_bad_expression_braces_indent_highlighting = error
resharper_bad_expression_braces_line_breaks_highlighting = error
resharper_bad_generic_brackets_spaces_highlighting = error
resharper_bad_indent_highlighting = error
resharper_bad_linq_line_breaks_highlighting = error
resharper_bad_list_line_breaks_highlighting = error
resharper_bad_member_access_spaces_highlighting = error
resharper_bad_namespace_braces_indent_highlighting = error
resharper_bad_parens_line_breaks_highlighting = error
resharper_bad_parens_spaces_highlighting = error
resharper_bad_preprocessor_indent_highlighting = error
resharper_bad_semicolon_spaces_highlighting = error
resharper_bad_spaces_after_keyword_highlighting = error
resharper_bad_square_brackets_spaces_highlighting = error
resharper_bad_switch_braces_indent_highlighting = error
resharper_bad_symbol_spaces_highlighting = error
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_check_namespace_highlighting = error
resharper_condition_is_always_true_or_false_highlighting = error
resharper_constant_null_coalescing_condition_highlighting = error
resharper_convert_if_statement_to_null_coalescing_assignment_highlighting = error
resharper_convert_if_statement_to_null_coalescing_expression_highlighting = error
resharper_convert_to_constant_global_highlighting = error
resharper_convert_to_constant_local_highlighting = error
resharper_empty_constructor_highlighting = error
resharper_empty_destructor_highlighting = error
resharper_empty_embedded_statement_highlighting = error
resharper_empty_for_statement_highlighting = error
resharper_empty_namespace_highlighting = error
resharper_empty_statement_highlighting = error
resharper_enforce_do_while_statement_braces_highlighting = error
resharper_enforce_fixed_statement_braces_highlighting = error
resharper_enforce_foreach_statement_braces_highlighting = error
resharper_enforce_for_statement_braces_highlighting = error
resharper_enforce_if_statement_braces_highlighting = error
resharper_enforce_lock_statement_braces_highlighting = error
resharper_enforce_using_statement_braces_highlighting = error
resharper_enforce_while_statement_braces_highlighting = error
resharper_field_can_be_made_read_only_global_highlighting = error
resharper_field_can_be_made_read_only_local_highlighting = error
resharper_incorrect_blank_lines_near_braces_highlighting = error
resharper_int_variable_overflow_highlighting = error
resharper_int_variable_overflow_in_checked_context_highlighting = error
resharper_int_variable_overflow_in_unchecked_context_highlighting = error
resharper_iterator_method_result_is_ignored_highlighting = error
resharper_join_null_check_with_usage_highlighting = error
resharper_local_function_hides_method_highlighting = error
resharper_local_variable_hides_member_highlighting = error
resharper_mismatched_asmdef_filename_highlighting = error
resharper_missing_blank_lines_highlighting = error
resharper_missing_indent_highlighting = error
resharper_missing_linebreak_highlighting = error
resharper_missing_space_highlighting = error
resharper_multiple_spaces_highlighting = error
resharper_multiple_statements_on_one_line_highlighting = error
resharper_multiple_type_members_on_one_line_highlighting = error
resharper_must_use_return_value_highlighting = error
resharper_not_accessed_field_global_highlighting = none
resharper_not_accessed_field_local_highlighting = none
resharper_n_unit_redundant_argument_instead_of_expected_result_highlighting = error
resharper_n_unit_redundant_argument_in_test_case_attribute_highlighting = error
resharper_n_unit_redundant_expected_result_in_test_case_attribute_highlighting = error
resharper_outdent_is_off_prev_level_highlighting = error
resharper_partial_method_with_single_part_highlighting = error
resharper_partial_type_with_single_part_highlighting = error
resharper_possible_multiple_enumeration_highlighting = error
resharper_public_constructor_in_abstract_class_highlighting = error
resharper_redundant_assignment_highlighting = error
resharper_redundant_base_constructor_call_highlighting = error
resharper_redundant_base_qualifier_highlighting = error
resharper_redundant_blank_lines_highlighting = error
resharper_redundant_case_label_highlighting = error
resharper_redundant_cast_highlighting = error
resharper_redundant_catch_clause_highlighting = error
resharper_redundant_check_before_assignment_highlighting = error
resharper_redundant_configure_await_highlighting = none
resharper_redundant_default_member_initializer_highlighting = error
resharper_redundant_delegate_creation_highlighting = error
resharper_redundant_empty_finally_block_highlighting = error
resharper_redundant_empty_object_or_collection_initializer_highlighting = error
resharper_redundant_empty_switch_section_highlighting = error
resharper_redundant_explicit_array_creation_highlighting = error
resharper_redundant_explicit_array_size_highlighting = error
resharper_redundant_explicit_nullable_creation_highlighting = error
resharper_redundant_explicit_tuple_component_name_highlighting = error
resharper_redundant_extends_list_entry_highlighting = error
resharper_redundant_if_else_block_highlighting = error
resharper_redundant_jump_statement_highlighting = error
resharper_redundant_lambda_parameter_type_highlighting = error
resharper_redundant_linebreak_highlighting = error
resharper_redundant_logical_conditional_expression_operand_highlighting = error
resharper_redundant_name_qualifier_highlighting = error
resharper_redundant_nullable_annotation_on_reference_type_constraint_highlighting = error
resharper_redundant_nullable_annotation_on_type_constraint_has_non_nullable_base_type_highlighting = error
resharper_redundant_nullable_annotation_on_type_constraint_has_non_nullable_type_kind_highlighting = error
resharper_redundant_overridden_member_highlighting = suggestion
resharper_redundant_record_class_keyword_highlighting = error
resharper_redundant_space_highlighting = error
resharper_redundant_string_interpolation_highlighting = error
resharper_redundant_ternary_expression_highlighting = error
resharper_redundant_to_string_call_for_value_type_highlighting = error
resharper_redundant_to_string_call_highlighting = error
resharper_redundant_type_arguments_of_method_highlighting = error
resharper_redundant_unsafe_context_highlighting = error
resharper_redundant_using_directive_highlighting = error
resharper_redundant_with_expression_highlighting = error
resharper_remove_redundant_braces_highlighting = error
resharper_remove_redundant_or_statement_false_highlighting = error
resharper_remove_redundant_or_statement_true_highlighting = error
resharper_return_value_of_pure_method_is_not_used_highlighting = error
resharper_sealed_member_in_sealed_class_highlighting = error
resharper_suggest_discard_declaration_var_style_highlighting = none
resharper_suggest_var_or_type_deconstruction_declarations_highlighting = error
resharper_tabs_and_spaces_mismatch_highlighting = error
resharper_tabs_outside_indent_highlighting = error
resharper_unreachable_code_highlighting = error
resharper_unused_local_function_highlighting = error
resharper_unused_local_function_return_value_highlighting = error
resharper_unused_member_global_highlighting = hint
resharper_unused_member_local_highlighting = error
resharper_unused_method_return_value_local_highlighting = error
resharper_unused_parameter_global_highlighting = hint
resharper_unused_parameter_in_partial_method_highlighting = error
resharper_unused_parameter_local_highlighting = error
resharper_unused_type_global_highlighting = error
resharper_unused_type_local_highlighting = error
resharper_unused_type_parameter_highlighting = error
resharper_unused_variable_highlighting = error
resharper_use_await_using_highlighting = error
resharper_use_configure_await_false_for_async_disposable_highlighting = error
resharper_use_configure_await_false_highlighting = error
resharper_use_nameof_expression_highlighting = error
resharper_use_name_of_instead_of_type_of_highlighting = error
resharper_value_parameter_not_used_highlighting = error
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
resharper_wrong_indent_size_highlighting = error

[{*.har,*.inputactions,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_style = space
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,fs,fsi,fsscript,fsx,hlsl,hlsli,hlslinc,master,ml,mli,nuspec,paml,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
