name: 'Release: Dev'

on:
  workflow_dispatch:
    inputs:
      version-prefix:
        description: 'Version'
        required: true
      version-patch:
        description: 'Patch number'     
        required: true

env:
  release-type: dev
  github-pkgs-source: https://nuget.pkg.github.com/nclient/index.json
      
jobs:
  
  release-dev:
    if: ${{ github.event.inputs.version-prefix }} != '' && ${{ github.event.inputs.version-patch }} != ''
    environment: release-dev
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
    - id: release-info
      name: Release info
      uses: ./actions/release-info
      with:
        release-type: ${{ env.release-type }}
        version-prefix: ${{ github.event.inputs.version-prefix }}
        version-suffix: dev.${{ github.event.inputs.version-patch }}
    - name: Push packaget to NuGet
      uses: ./actions/push
      with:
        version-prefix: ${{ steps.release-info.outputs.version-prefix }}
        version-suffix: ${{ steps.release-info.outputs.version-suffix }}
        source: ${{ env.github-pkgs-source }}
        source-api-key: ${{ secrets.GITHUB_TOKEN }}
        needsTag: false
      
  release-dev-validation:
    needs: release-dev
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
    - id: release-info
      name: Release info
      uses: ./actions/release-info
      with:
        release-type: ${{ env.release-type }}
        version-prefix: ${{ github.event.inputs.version-prefix }}
        version-suffix: dev.${{ github.event.inputs.version-patch }}
    - name: Test release
      uses: ./actions/test-release
      with:
        version-prefix: ${{ steps.release-info.outputs.version-prefix }}
        version-suffix: ${{ steps.release-info.outputs.version-suffix }}
        delay: 30s
        custom-source: ${{ env.github-pkgs-source }}
        custom-source-user: nclient
        custom-source-password: ${{ secrets.GITHUB_TOKEN }}
