name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - alpha-release
      - beta-release
      - rc-release
      - release

env:
  VersionPrefix: 0.1.0
  VersionSuffix: unbound
      
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Try set alpha version suffix
      if: github.ref == 'refs/heads/alpha-release'
      run: echo "VersionSuffix=alpha" >> $GITHUB_ENV
    - name: Try set beta version suffix
      if: github.ref == 'refs/heads/beta-release'
      run: echo "VersionSuffix=beta" >> $GITHUB_ENV
    - name: Try set rc version suffix
      if: github.ref == 'refs/heads/rc-release'
      run: echo "VersionSuffix=rc" >> $GITHUB_ENV
    - name: Try set release version suffix
      if: github.ref == 'refs/heads/release'
      run: echo "VersionSuffix=" >> $GITHUB_ENV
    - name: Exit because the branch is not released
      if: env.VersionSuffix == 'unbound'
      run: exit 1
      
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release 
    - name: Test
      run: dotnet test --filter Category!=Packages --no-build --verbosity normal --configuration Release
    - name: Pack
      run: dotnet pack ./Packable.slnf --no-build --output ./nupkgs --configuration Release 
    - name: Publish
      run: dotnet nuget push ./nupkgs/ --source https://api.nuget.org/v3/index.json --api-key ${{secrets.NUGET_API_KEY}} --skip-duplicate
    - name: Try set pre-release tag
      if: env.VersionSuffix != ''
      run: echo "ReleaseTag=v${VersionPrefix}-${VersionSuffix}" >> $GITHUB_ENV
    - name: Try set release tag
      if: env.VersionSuffix == ''
      run: echo "ReleaseTag=v${VersionPrefix}" >> $GITHUB_ENV
    - name: Create release tag
      run: git tag ${{env.ReleaseTag}}
    - name: Push release tag
      run: git push origin ${{env.ReleaseTag}}
      
  validation:
    runs-on: ubuntu-latest
    needs: publish 
    steps:
    - name: Try set alpha version suffix
      if: github.ref == 'refs/heads/alpha-release'
      run: echo "VersionSuffix=alpha" >> $GITHUB_ENV
    - name: Try set beta version suffix
      if: github.ref == 'refs/heads/beta-release'
      run: echo "VersionSuffix=beta" >> $GITHUB_ENV
    - name: Try set rc version suffix
      if: github.ref == 'refs/heads/rc-release'
      run: echo "VersionSuffix=rc" >> $GITHUB_ENV
    - name: Try set release version suffix
      if: github.ref == 'refs/heads/release'
      run: echo "VersionSuffix=" >> $GITHUB_ENV
    - name: Exit because the branch is not released
      if: env.VersionSuffix == 'unbound'
      run: exit 1
      
    - name: Wait verification packages (5 min)
      uses: jakejarvis/wait-action@master
      with:
        time: '5m'
        
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release 
    - name: Test
      run: dotnet test --filter Category=Packages --no-build --verbosity normal --configuration Release
